@mixin styleText($fs,$fw,$color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
} 

@mixin styleButton($bg-color, $pd-y, $pd-x, $boder) {
    background: $bg-color;
    padding:$pd-y $pd-x ;
    border: $boder;
    border-radius: $bd-2;
} 

@mixin styleHoverButton($color, $bd-color, $bg-color) {
    color: $color;
    border-color: $bd-color;
    background: $bg-color;
}

//screnn : chứa tên màn hình cần lấy giá trị
@mixin responsive($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        // tìm thấy
        $value: map-get($map: $breakpoints , $key: $screen);
        @media screen and (max-width:$value) {
            @content;
        }

    }@else{
        @warn "$screen không tồn tại";
    }
}